.logo {
    max-width: 150px;
    margin-top: 35px;
    }
    
    h1 {
    font-family:'Times New Roman', Times, serif;
    font-size: 80px;
    }
    
    h2 {
    font-family: 'Times New Roman', Times, serif;
    font-size:60px;
    margin-top: 120px;
    font-weight: bold ;
    color: black;
    }
     
    h3 {
    font-size:30px;
    font-weight: bold;
    
    }
    
    .nav-link {
        display: block;
        padding:10px 15px;
        color: black;
        text-decoration: none;
        
        border: 0;
        transition: color .15s;
    }
    
    .m-5{
    font-size: 22px;
    }
    
    .text-muted {
    font-size: 21px;
    font-family: serif;
    }
    
    .content {
        background: var(--head-color);
        text-align: center;
        padding: 70px 20px;
        font-size: 40px;
    }
     .image {
    width: 100%;
    height: auto;
    margin-top: 100px;
    }
    
    
     li { 
        display:inline;
        list-style:none;
        margin: 0 auto;
        padding: 30px;
    }
    
    :root {
        --branding-color: #6c63ff;
        --secondary-color: #f9f7fe;
        --primary-color:rgb(243, 216, 247);
        --head-color:rgb(236, 204, 235);
    } 
    
    .contact-box {
        font-family: 'Times New Roman', Times, serif;
        margin:100px;
        background: var(--secondary-color);
        padding: 32px;
    }
    
    body {
    background: var(--primary-color);
    
    }
    
    .content1 h1 {
        margin: 80px 30px 0px;
        line-height: 60px;
        font-size: 60px;
        font-weight: bold ;
    }
    
    .content1 {
    margin-left: 100px;
    }
    .content1 p {
        margin-left: 30px;
    }
    
    .image1 {
    
      margin-left: auto;
      margin-right: auto;
      width: 70%;
      max-height: 60%;
      margin-top: 65px;
    }
    .content1 h2 {
    margin:10px 30px;    
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    
    }
    
    
     .btn-branding {
        background: var(--branding-color);
        border-radius: 4px;
        color: white;
        text-decoration: none;
        font-size: 18px;
        line-height: 27px;
        padding: 15px 30px;
        margin:40px;
    }
    
    
    .btn-branding-outline {
        background: var(--secondary-color);
        border: #6c63ff;
        border-radius: 4px;
        color: #6c63ff;
        text-decoration: none;
        font-size: 18px;
        line-height: 27px;
        padding: 15px 30px;
        
    }
    
    .fab {
        padding:20px;
        text-align: center;
        color:var(--branding-color);
    
    }
    
    .content2 btn btn-branding {
    
         background: var(--branding-color);
        border-radius: 4px;
        color: white;
        text-decoration: none;
        font-size: 18px;
        line-height: 27px;
        padding: 15px 30px;
        margin:6px;
    }
    
    
    .img-fluid {
        display:flex;
        flex: 1 1 calc(50% - 10px);
      margin-bottom: 20px;
        margin-left: 65px;
        margin-top: 50px;
        max-width: 70%;
        max-height: auto%;
        margin-bottom: 1.5rem;
        overflow-x: hidden;
    
    }
    .content p{
        font-size: 25px;
    }
    .email-link {
        font-size: 25px;
    }
    
    .social-links{
        font-size: 20px;
        margin-top: 30px;
    }
    
    